# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore all makefiles
!Makefile

### Above combination will ignore all files without extension ###

# Compiled object files
*.o

# Executables
*.exe
*.out

# Dependency files
*.d

# Build directories
build/
bin/

# Documentation
doc/

# IDE files
# .vscode/
.idea/

# Editor backup files
*~

# OS-specific files
.DS_Store
Thumbs.db
